/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-yellow: #FFBF47;
  --basic-pink: #DC91D8;
  --basic-grey: #A9A9A9;
  --intense-red: #BA2732;
  --lighter-grey: #F1F5F7;
  --light-grey: #F9F5F0;
  --light-yellow: #FFC047;
  --sky-blue: #3BBCE3;
  --light-green: #8ED78F;
  --intense-blue: #293449;
  --special: rgba(0, 0, 0, .001);
  --primorse-yellow: #FFD180;
  --light-blue: #f1f5f7;
  --beige-color: #F7F3EC; 
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* header */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--light-blue);
}

.main-header-logo {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
  
.header-top {
   background: var(--basic-blue);
}

.header-list-order {
  list-style: none;
}

.header-mobile {
  border: 3px solid var(--basic-white);
}

.nav {
  background-color: var(--basic-blue);
}
.nav-list,
.footer-navigation,
.footer-social {
  list-style: none;
}

.search-title,
.header-list-order a,
.nav-link,
.footer-social a {
  color: var(--basic-white);
}

.order-link {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.basket-link {
  font-family: "Cuprum", sans-serif, serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-red);
}



.header-title {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-mobile {
  color: var(--basic-red);
  line-height: 30px;
  font-size: 21px;
  font-weight: bold;
}

.header-contacts {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
}

.header-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}

/* main */



.offer-button {
color: var(--basic-white);
}

.offer-item_yellow {
  background-color: var(--basic-yellow);
  color: var(--basic-white)
}
.offer-item_blue {
  background-color: var(--sky-blue);
  color: var(--basic-white)
}
.offer-item_purple {
  background-color: var(--basic-pink);
  color: var(--basic-white);
}
.offer-item_green {
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.offers h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.offer-button {
  font-size: 14px;
  line-height: 18px;
}

.slider {
  color: var(--basic-white);
  background-color: black;
  font-size: 14px;
}


.slider_drills {
  background: url(/img/background-slider.jpg) no-repeat;
}

.slider_perforators {
  background: url(/img/Layer\ 99.jpg) no-repeat;
}

.slider h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.slider p {
  font-size: 18px;
  line-height: 24px;
}
.slider-button {
  color: var(--basic-white);

}

.wrapper-goods-manufactures {
  background-color: var(--light-grey);
}

.popular-goods-title,
.manufacturers-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
} 

.button {
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.buy-button {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-family: "Cuprum", sans-serif, serif;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

.bookmark-button {
  border: 3px solid var(--basic-green);
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif, serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue);
}

.popular-goods-drill {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
}
.drill-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.drill-old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: var(--basic-grey);
}
.drill-price {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.brand-list {
  list-style: none;
}

.brand-item {
  border: 1px solid #EAEAEA;
}

.services {
  background-color: var(--lighter-grey);
}

.services-title,
.service-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-title {
  color: var(--basic-blue);
}

.services-text-content {
  font-family: "PT Sans", sans-serif, serif;
  font-size: 13px;
  line-height: 24px;
}

.services-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.about-company-title {
  font-family: "Cuprum", sans-serif, serif;
  font-size: 30px;
  line-height: 30px;
}

.about-company p {
  font-family: "PT Sans", sans-serif, serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company a,
.contacts a {
  font-family: "Cuprum", sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.visibility-hidden {
  display: none;
}


/* footer */

.main-footer {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.primorse-yellow-color {
  color: var(--primorse-yellow);
}

.footer-nav-link {
  color: var(--basic-white)
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-list .primorse-yellow-color {
  color: var(--primorse-yellow);
}



/* состояния ссылок */



.main-header-logo:hover {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
  background-color: var(--intense-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.order-link:active,
.bookmarks-link:active,
.basket-link:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-link:hover {
  color: var(--basic-red);
}

.header-link:active {
  color: #C5C5C5;
}

.nav-item:hover {
  background: var(--intense-blue);
  box-shadow: inset 0px -5px 0px #293449;
}

.nav-item:active {
  background: #1D2739;
  box-shadow: inset 0px -5px 0px #293449;
}

.offer-button:hover {
  background-color: #C5C5C5;
}

.offer-button:active {
  background: #A9A9A9;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.popular-goods-drill:hover {
  border: 1px solid #EAEAEA;
}

.buy-button:hover {
  background: #5FBB2D;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.buy-button:active {
  background: #518534;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.bookmark-button:hover {
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
}

.bookmark-button:active {
  border: 3px solid #32425C;
  box-sizing: border-box;
  border-radius: 2px;
  color: #32425C;
  opacity: 0.4;
}

.brand-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.brand-item:active {
  background-color: rgba(0, 0, 0, 0.0001);
}

.services-button:hover {
  background-color: var(--intense-blue);
  color: var(--basic-white);
}

.services-button:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.footer-nav-item:hover {
  text-decoration: underline;
}

.footer-nav-item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-social li:hover {

}

.footer-social li:active {

}

/* catalog page */

.user-block {
  background-color: var(--basic-white);

}

.user-logged {
color: var(--basic-black);
 font-family: "Cuprum" sans-serif, serif;
 font-size: 21px;
 line-height: 21px;
}

.user-link {
   font-family: "Cuprum" sans-serif, serif;
   color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.breadcrumbs {
  text-transform: uppercase;
  list-style: none;
  line-height: 18px;
  font-family: "PT Sans", sans-serif, serif;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

.drill-title {
  background-color: var(--light-blue);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding: 5px 20px;
}

.filter {
  background-color: #F7F3EC;
  font-size: 13px;
  line-height: 18px;
    font-family: "PT Sans", sans-serif, serif;
}

.filter-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-price,
.price-max,
.price-min,
.sort-option,
.info-drill {
  background-color: var(--beige-color);
}

.companies-list,
.supply-list,
.sort-list {
  list-style: none;
}

.companies-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase
}

.companies-item label,
.supply-item label {
  color: var(--basic-grey);
}

.button_show {
  font-size: 13px;
  line-height: 18px;
    font-family: "PT Sans", sans-serif, serif;
    border: 1px solid var(--light-grey);
    background-color: var(--basic-white)
}

.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.pagination-item {
  color: var(--basic-black);
  border: 1px solid var(--light-grey);
  border-radius: 2px;
}

.pagination-item-current {
  background-color: var(--basic-red);
}

.feedback-button {
  color: var(--primorse-yellow);
}

.sort-title {
      font-family: "PT Sans", sans-serif, serif;
  font-size: 13px;
  line-height: 18px;
}

.sort-item a {
  font-family: "PT Sans", sans-serif, serif;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.3;
  color: var(--basic-black);
  text-decoration: underline dashed var(--basic-red);
}

.sort-item:first-child a {
  color: var(--basic-red);
  opacity: 1;
  text-decoration: none;
}

.info-product-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info-product-text {
  font-size: 13px;
  line-height: 24px;
    font-family: "PT Sans", sans-serif, serif;
}

.design-link {
  color: var(--primorse-yellow);
}

